@model Auction.Presentation.Models.ProductViewModel
@{
    ViewBag.Title = "Remove";
    Layout = "~/Areas/Admin/Views/Shared/_AdminView.cshtml";
}

<h2>@Resource._admin_removeProduct</h2>
<hr />
<p class="error">@ViewBag.ErrorMessage</p>
<h3 class="ui red">@Resource._admin_removeProduct_Text</h3>
<div class="ui list">

    <div class="item">
        @Resource._admin_auction_TNAME:  @ViewBag.Auction.Name
    </div>
    <div class="item">
        @Resource._admin_product_TNAME:  @Html.DisplayFor(model => model.Name)
    </div>
    <div class="item">
        @Resource._admin_category_TNAME:  @ViewBag.Category
    </div>
    <div class="item">
        @Resource._admin_product_TSTDATE:  @Html.DisplayFor(model => model.StartPrice)
    </div>
    <div class="item">
        @Resource._admin_product_TDURATION:  @Html.DisplayFor(model => model.Duration)
    </div>
    <div class="item">
        @Resource._admin_product_TSTPRICE:  @Html.DisplayFor(model => model.StartPrice)
    </div>
    <div class="item">
        @Resource._admin_product_TSTATE:  @Html.DisplayFor(model => model.State)
    </div>

</div>

@using (Html.BeginForm())
{

    <div class="ui form">
        <div class="field">
            <input type="submit" value=@Resource._admin_remove class="ui button basic red " />
        </div>
    </div>
}


<div class="link">
    @Html.ActionLink(Resource._admin_backPage, "Index", new { }, new { @class = "ui button basic blue" })
</div>
