@model Auction.Presentation.Models.ChangePasswordModel


@{
    ViewBag.Title = "Edit Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="half">
    <h2>@Resource._admin_editUserPassword</h2>
    <hr />
    @using (Html.BeginForm())
    {
        <div class="ui form">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="field">
                <div class="ui labeled input">
                    <div class="ui label">
                        @Resource._admin_user_OLDPASSWORD
                    </div>
                    @Html.EditorFor(model => model.OldPassword, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="field">
                <div class="ui labeled input">
                    <div class="ui label">
                        @Resource._admin_user_NEWPASSWORD
                    </div>
                    @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="field">
                <div class="ui labeled input">
                    <div class="ui label">
                        @Resource._admin_user_REPEATPASSWORD
                    </div>
                    @Html.EditorFor(model => model.RepeatNewPassword, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <button class="ui green basic button" type="submit">@Resource._admin_edit</button>
        </div>
      }
<div class="back">
    @Html.ActionLink(Resource._admin_backPage, "Index", new { }, new { @class = "ui blue basic button" })
</div>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}