@model Auction.Presentation.Models.RegistrationViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var localizations = LocalizationService.GetAvalaibleLocalization().Select(loc => new
    {
        localizationId = loc.LocalizationId,
        Value = loc.Name
    });
}

<div class="container half">

    <h2>@Resource._home_createAccount</h2>
    <hr>

  @using (Html.BeginForm("Index", "Registration", FormMethod.Post, new { enctype = "multipart/form-data" }))
  {
    <div class="ui form">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="field">
            <div class="ui labeled input">
                <div class="ui label">
                    @Resource._admin_user_TLOGIN
                </div>
                @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="field">
            @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
        </div>
            <div class="field">
                <div class="ui labeled input">
                    <div class="ui label">
                        @Resource._admin_user_TPASSWORD
                    </div>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                </div>
            </div>
        <div class="field">
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
            <div class="field">
                <div class="ui labeled input">
                    <div class="ui label">
                        @Resource._admin_user_TDPASSWORD
                    </div>
                    @Html.EditorFor(model => model.DPassword, new { htmlAttributes = new { @class = "form-control", type = "password" } })
                </div>
            </div>
        <div class="field">
            @Html.ValidationMessageFor(model => model.DPassword, "", new { @class = "text-danger" })
        </div>
            <div class="field">
                <div class="ui labeled input">
                    <div class="ui label">
                        @Resource._admin_user_TFNAME
                    </div>
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        <div class="field">
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>
            <div class="field">
                <div class="ui labeled input">
                    <div class="ui label">
                        @Resource._admin_user_TSNAME
                    </div>
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        <div class="field">
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
            <div class="field">
                <div class="ui labeled input">
                    @Html.DropDownListFor(model => model.Id, new SelectList(localizations, "localizationId", "Value", Model.Locale), Resource._chooseLang, new { @class = "ui floating dropdown labeled search icon butto locale", Name = "Locale" })
                    @Html.ValidationMessageFor(model => model.Locale, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="field">
                <div class="ui labeled input">
                    <div class="ui label">
                        @Resource._admin_user_TTZ
                    </div>
                    @Html.DropDownListFor(model => model.Id, new SelectList(ViewBag.Timezone, "TimezoneId", "Value", Model.TimezoneId), new { @class = "timezone", Name = "TimezoneId", Id = "timezone" })
                </div>
            </div>

            <div class="field">
                <div class="ui labeled input">
                    <div class="ui icon big button" id="divUpload">
                        <i class="cloud icon"></i>
                    </div>
                    <input type="file" id="image" name="image" style="display: none">
                    @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-danger" })
                </div>
            </div>
        <div class="field">
            @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-danger" })
        </div>


            <button class="ui green basic button" type="submit">@Resource._signIn</button>
        </div>
  }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
